body {
    background: #15191e;
}


#center {
    text-align: center;
    color: #8b949e;
}

#name {
    margin-left: 6px;

}

#content {
    margin-left: 52px;
}

#tool {
     display: inline;
     background: #253041;
     border: 1px solid grey;
     border-radius: 8px;
     padding: 3px 3px 3px 3px;
}


#left {
    margin: 15px 0px 0px 20px;
}

#profile {
    width: 80px;
    height: 80px;
    border: 5px outset black;
}


#form {
    align-self: flex-end;
    text-align: center;
}


#right {

}
