body {
    background: #15191e;
    color: #8b949e;
}

form {
    margin-top: 60px;
    width: 100px;
    height: 20px;
}

p {
    margin-top: 100px;
    color: #ff6f61;
}

form, p {
    line-height: 1.5;
    margin-left: 550px;
}

label {
    display: block;
}
