<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
</head>
<body>
  {% if pwd_state %}
    <p style="visibility: hidden;">Das Passwort oder Benutzername war falsch!</p>
  {% else %}
    <p>Das Passwort oder Benutzername war falsch!</p>
  {% endif %}
  <form action="/" method="post">
    <label for="name">Username</label>
    <input id="name" type="text" name="name">
    <br/><br/>
    <label for="password">Password</label>
    <input id="password" type="password" name="password">
    <br/><br/>
    <input type="submit" value="Weiter-->">
  </form>
</body>
</html>