<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User List</title>
  <link href="{{ url_for('static', filename='css/userList.css') }}" rel="stylesheet"/>
</head>
<body>
  <table>
    {% for name, img in user %}
      <tr>
        <th>
          <a href="{{ url_for('profile', user=name) }}">
            <img class="img" src="{{ url_for('static', filename='images/' + img) }}" width="50" height="50">
          </a>
        </th>
        <th>
          <a href="{{ url_for('profile', user=name) }}">
            <span class="name">{{ name }}</span>
          </a>
        </th>
      </tr>
    {% endfor %}
  </table>
</body>
</html>